
/*the details page:*/
#details {
    width: 600px;
    margin: 0 auto;
    padding: 30px 70px;
    border: 1px solid #ccc;
    border-top: 0;
    overflow: hidden;
    font-size: 14px;
}


#details ul li {
    padding: 5px 0;
    display: block;
    overflow: hidden;
    border-bottom: #eee 1px solid;
}
#details ul li span {
}
#details ul li span.label {
    /* you can't assign a width to an inline element, only padding/margin
    so you'll need to make it float so that you can give it a width.*/
    float: left;
    text-align: right;
    clear: left;
    width: 100px;
    margin: 0 20px;
}
#details .desc {
    float: left;
    width: 70%;
}
#details .desc p{
    margin-top: 0;
}
#details .control a {
    margin: 0 10px;
}

form.delete {
    margin-top: 40px;
    padding-right: 50px;
}
form.delete input {
    float: right;
}