/* - S L I D E S - */

#main-slideshow {
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    z-index: 0;
    height: 420px;
    min-width: 990px;
    width: 100%;
    overflow: hidden;
    /*box-shadow: 0 0 3px hsla(250, 40%, 30%, 0.8);*/
}


#main-slideshow .slides {
    margin: 0;
    padding: 0;

}

#main-slideshow .slides li {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    display: inline;
    opacity: 0;
    /*filter: alpha(opacity=0);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;*/
}

#main-slideshow .slides .active {
    opacity: 1;
    /*filter: alpha(opacity=100);*/

}

/* - C O N T R O L S - */

#main-slideshow .controls {

    position: absolute;
    bottom: 20px;
    right: 15%;
    z-index: 1;
}

#main-slideshow .controls li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

#main-slideshow .controls a {
    display: block;
    width: 22px;
    height: 22px;

    text-align: center;
    line-height: 22px;

    color: #fff;
    border-radius: 50%;
    background-color: #444;
    text-align: center;
    font-family: arial, san-serif;

    text-decoration: none;
}

/*original:*/
/*#main-slides .controls a {
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 0 10px;

    border: solid 1px #CBCBCB;
    text-decoration: none;
    line-height: 1.7em;
    color: #4A4A4A;
    font-family: arial, san-serif;


#main-slides.circles .controls a {
    text-indent: 100px;
    overflow: hidden;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    padding: 0;
}
}*/
#main-slideshow .controls a:hover {
    background-color: #f70;
}

#main-slideshow .controls .active a,
#main-slideshow .controls .active a:hover {
    background: #f70;
    color: #ffffff;
}

/* - P A U S E   M E S S A G E - */

#main-slideshow .paused {
    opacity: 0;
    filter: alpha(opacity=0);
    bottom: 5px;
    left: -130px;
    letter-spacing: 18px;
    position: absolute;
    color: #2a2a2a;
    width: 630px;
    line-height: 1.8em;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#main-slideshow:hover .paused {
    opacity: 1;
    filter: alpha(opacity=100);
    left: 30px;
    letter-spacing: 1px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}