extends ../layout

append js-bottom
  script(src="/js/common.js")
  //- script(src="/javascripts/pager.js")

block content
  include ../category/list
  div.results
    unless products.length
      div.no-results 无结果
    each product in products
      -var url = '/products/' + product._id;
      div.item
        div#imageContainer
          a(href= url, title= product.name)
            if product.thumbnail
              img(src= '/' + product.thumbnail)
            else
              img(src='/img/no-image.png')
        h3#name
          a(href= url)= product.name
        ul.info
          li.categ
            -var categ = product.categories[0]
            if categ
              a(href="/products?category=#{categ._id}")= categ.name
            else
              a 未分类
          li.mfr 由
            a(href="/mfrs/#{product.mfr._id}")= product.mfr.shortName
            | 销售制造

  unless typeof pages === 'undefined'
    .pager.pager-centerd.hidden #{pages}