extends ../layout

if validationOpt
  append template
    script#val-options(type="template/text")!=validationOpt

append css
  link(rel="stylesheet", href="/vendor/jquery-ui/themes/smoothness/jquery-ui.css")
append js-bottom
  script(src="/vendor/jquery-validation/jquery.validate.js")
  script(src="/js/form-validation.js")
  script(src="/js/product.js")

block content

  -var imgSrc = mfr ? ( mfr.images ? mfr.images[0] : null ) : null
  form.content(method="POST")
    if mfr
      input(type="hidden", name="_method", value="put")
    div.form-element
      label(for="shortName") 厂商简称:
      input#shortName(type="text", name="mfr[shortName]", value= mfr ? mfr.shortName : '')
    div.form-element
      label(for="fullName") 厂商全称:
      input#fullName(type="text", name="mfr[fullName]", value= mfr ? mfr.fullName : '')
    div.form-element
      label(for="desc") 厂商介绍:
      input#desc(type="text", name="mfr[desc]", value= mfr ? mfr.desc : '')
    div.form-element
      label(for="province") 所在省份
      input#province(type="text", name="mfr[province]", value= mfr ? mfr.province : '')
    div.form-element
      label(for="img-upload") 图片:
      input#img-upload(type="file", name="image")
    //div
    //  label(for="extra") 其他信息:
    //  input#extra(type="text", name="mfr[extra]")

    div.control.ui-helper-clearfix
      button.save(type="submit")= mfr ? '保存' : '提交'
      button.cancel(type="button") 返回
