/*normalize*/
dl, dt, dd {
    margin: 0;
    padding: 0;
}

/*position and display*/
#menu {
    margin: 0 0 0 30px;
    position: relative;
    top: -30px;
    z-index: 100;
    width: 240px;
}
.categoriesHd {

    margin: 0;
    z-index: 100;
    height: 30px;
    line-height: 30px;

    position: relative;
    background-color: #A21C1D;
    color: #fff;
    text-decoration: none;
    /*padding-left: 17px;*/
    font-size: 14px;
    text-align: center;
}

.categories {
    z-index: 100;
    position: absolute;
    -moz-box-shadow: 4px 2px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 4px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 4px 2px 5px rgba(0,0,0,0.2);

}
.categories>dt {
    z-index: 110;
}
.categories>dd {
    /*display: none;*/
    position: absolute;
    z-index: 105;
}

.categories dl>dt, .categories dl>dd {
    display: inline-block;
}




/*dimension*/
.categories>dt {
    /*width: 100px;*/
    height: 30px;
    padding: 8px 0;
    width: 239px;
}

.categories>dt>a {
    line-height: 30px;
}

.categories>dd {
    /*  value `left` should be lvl1 dt's width
        + lvl2 dt's margin left(negative)
        - lvl2 dl's padding-left (which is equal to lvl2 dt's margin-left(neg))
        resolves to lvl1 dt's content width
    */
    left: 100%;
    top: 0;
    margin-top: 0px;
    width: 600px;
    min-height: 100%;
}

.categories dl {
    padding: 0 10px 0 120px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;

}

.categories dl>dd, .categories dl>dt {
    padding: 5px 10px;
}

.categories dl>dt {
    float: left;
    width: 100px;
    margin-left: -120px;
}

/*font and font color*/
.categories a {
    font-size: 12px;
    color: #848484;
}
.categories>dt a {
    color: black;
    font-weight: 500;
}
.categories dl a {
    color: #646464;
}

.categories>dt a, .categories dl>dt a{
    line-height: 30px;
    font-size: 15px;
    font-family: 'Lucida Grande','\5fae\8f6f\96c5\9ed1';
}


/*border and color*/
dl.categories {
    background-color: white;
}
.categories>dt {
    border-left: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.categories>dt:nth-of-type(even) {
    background-color: #f1f1f1;
}
.categories>dt:not(:first-child) {
    border-top: none;
}



.categories>dd {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-left: none;
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2),1px -3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2),1px -3px 5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2),1px -3px 5px rgba(0,0,0,0.2);
}
.categories dl dt {
    border-bottom: 2px solid #000;
}
.categories dl dd a {
    border-left: 1px solid #EAEAEA;
    padding: 0 5px 0 10px;
}

/*hover control*/
/*hover effect (including animation)*/
.categories>dd {
    display: none;
}
.categories>dt:hover+dd, .categories>dd:hover {
    display: block;
}


.categories>dt:hover {
    background-color: #88766e;
    border-left: 1px solid #88766e;
}

.categories>dt:hover a {
    color: white;
}



/*misc*/

.categories>dt, .categories dl>dt {
    text-align: center;
}


/*.categories dl>dt:after{
    content: ' |';
    color:red;
}*/



/*animation*/

.categories {
    -webkit-animation: fadeIn .5s ease-in 1 alternate 0s forwards;
}
.categoriesHd {
    -webkit-animation: colorChange .3s ease-in 1 alternate 0s forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes colorChange {
    from {
        background-color: #fff;
        color: #A21C1D;
    }
    to {
        background-color: #A21C1D;
        color: #fff;
    }
}
@-webkit-keyframes colorChange {
    from {
        background-color: #fff;
        color: #A21C1D;
    }
    to {
        background-color: #A21C1D;
        color: #fff;
    }
}

@keyframes slideDown {
    from {
        top:-500px;
    }
    to {
        top: 0%;
    }
}
@-webkit-keyframes slideDown {
    from {
        top:-500px;
    }
    to {
        top: 0;
    }
}

/*hd click*/

.categoriesHd:hover{
    cursor: pointer;
}
.categories {
    display: none;
}
.categories.expanded {
    display: block;
}