dl, dt, dd {
    margin: 0;
    padding: 0;
}

dd{
    margin-left:100px;
}

/*position and display*/


dl#categ {
    position: relative;
    margin-left: 100px;
}


#categ>dd {
    border: 1px solid palegoldenrod;

}

form#modify input[type="text"]{
    width: 6em;
}

#form-control{
    left: 10px;
    top: 200px;
    position: fixed;
}

form .delete {
    /*float: right;*/
    position: relative;
    right: -30px;
    background: url(../../images/categories/remove.png) no-repeat right;
    border: 0 none;
    width: 30px;
    overflow: hidden;
    text-indent: -60px;
    opacity: 0.5;
}
/*
*/
/*hover control*//*

*/
/*#categ>dt:hover+dd, dl#categ>dd:hover {
    display: block;
}*//*


*/
/*dimension*//*

#categ>dt {
    width: 100px;
    height: 30px;
    padding: 5px 10px;
}

#categ>dt>a{
    line-height: 30px;
}

#categ>dd {
    */
/*  value `left` should be lvl1 dt's width
        + lvl2 dt's margin left(negative)
        - lvl2 dl's padding-left (which is equal to lvl2 dt's margin-left(neg))
        resolves to lvl1 dt's content width
    *//*

    left: 120px;
    top: auto;
    margin-top: -40px;
    width: 600px;
}

#categ dl{
    padding: 5px 10px 5px 120px;
    border-bottom: 1px solid #ccc;
}

#categ dl>dd, #categ dl>dt {
    padding: 5px 10px;
}

#categ dl>dt {
    float: left;
    width: 100px;
    margin-left: -120px;
}

*/
/*border*//*

#categ>dt{
    border: 1px solid #00B7FF;
}
#categ>dt:not(:first-child){
    border-top: none;
}


#categ dl>dd{
    border-left: 1px solid #ccc;
}
*/
/*misc*//*


#categ>dt, #categ dl>dt{
    text-align: center;
}
*/
/*#categ dl>dt:after{
    content: ' |';
    color:red;
}*//*



*/
/*input*//*

#categ input[type="text"]{
    width: 60px;
}

*/
/*override*//*


#categ>dd{
    display: block;
}*/
