.modal#modal-save(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header.
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      .modal-body
      .modal-footer.
        <button type="button" class="btn btn-primary save">保存</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>